In [1]:
from dotenv import load_dotenv
import os, requests, sys, json
from IPython.display import JSON
from pathlib import Path
import logging.handlers
from tqdm import tqdm
import pandas as pd
import numpy as np
from scipy.signal import convolve2d
import warnings
import seaborn as sns

from os import listdir
from os.path import isfile, join
warnings.filterwarnings("ignore")

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from Helpers.Exception_Handling import Exception_Handling as eh
from Helpers.Mongo_Interface import Mongo_Interface as mi

env_path = Path(fr"{os.environ['USERPROFILE']}\.env") 
load_dotenv(dotenv_path=env_path)

True

In [2]:
path = r'N:\connectxdocs'
onlyfiles = [f for f in tqdm(listdir(path)) if isfile(join(path, f))]

len(onlyfiles)

100%|███████████████████████████████████████████████████████████████████████████| 26254/26254 [00:51<00:00, 514.48it/s]

26254

In [3]:
onlyfiles[0:5]

['45907375.json',
 '45907374.json',
 '45907373.json',
 '45907372.json',
 '45907371.json']

In [8]:
results = []
for file in tqdm(onlyfiles):
    try:
        document = json.load(open(f"{path}\\{file}"))
        if 'board' in document['steps'][-1:][0][0]['observation']:
            results.append(document)
    except:
        print(file)
len(results)

 84%|██████████████████████████████████████████████████████████████▋            | 21962/26254 [00:32<00:04, 875.05it/s]

45886123.json
45886122.json

 84%|████████████████████████████████████████████████████████████████▏           | 22167/26254 [00:44<02:22, 28.78it/s]

45886008.json
45885975.json

 85%|████████████████████████████████████████████████████████████████▍           | 22245/26254 [00:51<03:26, 19.43it/s]

45885939.json

 85%|████████████████████████████████████████████████████████████████▉           | 22431/26254 [01:11<02:49, 22.59it/s]

45885738.json

 86%|█████████████████████████████████████████████████████████████████▍          | 22607/26254 [01:29<03:26, 17.65it/s]

45885566.json

 87%|██████████████████████████████████████████████████████████████████▍         | 22963/26254 [02:13<05:52,  9.34it/s]

45885207.json

 88%|██████████████████████████████████████████████████████████████████▉         | 23131/26254 [02:28<03:07, 16.63it/s]

45885039.json

 88%|███████████████████████████████████████████████████████████████████▏        | 23212/26254 [02:38<03:02, 16.65it/s]

45884961.json

 89%|███████████████████████████████████████████████████████████████████▉        | 23485/26254 [03:04<06:20,  7.27it/s]

45884685.json

 90%|████████████████████████████████████████████████████████████████████▍       | 23663/26254 [03:21<04:00, 10.77it/s]

45884509.json

 91%|█████████████████████████████████████████████████████████████████████       | 23872/26254 [03:46<06:05,  6.53it/s]

45884303.json

 91%|█████████████████████████████████████████████████████████████████████▏      | 23888/26254 [03:48<04:09,  9.49it/s]

45884293.json

 91%|█████████████████████████████████████████████████████████████████████▎      | 23937/26254 [03:52<01:33, 24.90it/s]

45884229.json

 92%|█████████████████████████████████████████████████████████████████████▌      | 24046/26254 [04:01<04:49,  7.63it/s]

45884126.json

 92%|██████████████████████████████████████████████████████████████████████▏     | 24225/26254 [04:20<06:00,  5.63it/s]

45883947.json

 93%|██████████████████████████████████████████████████████████████████████▍     | 24321/26254 [04:29<01:13, 26.22it/s]

45883851.json

 93%|██████████████████████████████████████████████████████████████████████▌     | 24357/26254 [04:31<01:03, 29.78it/s]

45883815.json

 94%|███████████████████████████████████████████████████████████████████████▍    | 24680/26254 [05:11<02:09, 12.15it/s]

45883491.json

 95%|████████████████████████████████████████████████████████████████████████▏   | 24923/26254 [05:33<01:23, 15.99it/s]

45883245.json

 95%|████████████████████████████████████████████████████████████████████████▏   | 24957/26254 [05:36<01:43, 12.58it/s]

45883214.json

 96%|████████████████████████████████████████████████████████████████████████▊   | 25133/26254 [05:54<01:37, 11.49it/s]

45883036.json

 96%|█████████████████████████████████████████████████████████████████████████▎  | 25316/26254 [06:14<02:16,  6.88it/s]

45882858.json

 97%|█████████████████████████████████████████████████████████████████████████▊  | 25479/26254 [06:28<00:23, 32.71it/s]

45882687.json

 97%|█████████████████████████████████████████████████████████████████████████▊  | 25488/26254 [06:29<00:42, 17.85it/s]

45882681.json

 97%|█████████████████████████████████████████████████████████████████████████▉  | 25522/26254 [06:32<01:00, 12.07it/s]

45882648.json

 99%|██████████████████████████████████████████████████████████████████████████▉ | 25881/26254 [07:08<00:25, 14.55it/s]

45882293.json
45882292.json

 99%|███████████████████████████████████████████████████████████████████████████▌| 26114/26254 [07:33<00:11, 12.22it/s]

45882056.json

100%|████████████████████████████████████████████████████████████████████████████| 26254/26254 [07:47<00:00, 56.15it/s]

23357

In [9]:
horizontal_kernel = np.array([[ 1, 1, 1, 1]])
vertical_kernel = np.transpose(horizontal_kernel)
diag1_kernel = np.eye(4, dtype=np.uint8)
diag2_kernel = np.fliplr(diag1_kernel)
detection_kernels = [horizontal_kernel, vertical_kernel, diag1_kernel, diag2_kernel]

def winning_move(board, player):
    for kernel in detection_kernels:
        if (convolve2d(board == player, kernel, mode="valid") == 4).any():
            return True
    return False

In [10]:
columns = [item for item in range(1, 43)]
columns.append('board_series')
columns.append('winner')
columns.append('looser')
columns.append('is_stale')


df = pd.DataFrame(columns=columns)
obj =''
for i in tqdm(range(len(results))):
    flat_board = results[i]['steps'][-1:][0][0]['observation']['board'].copy()
    if len(results[i]['steps']) < 3:
           continue
    board = np.resize(flat_board, (6,7))
    one_winning_move = winning_move(board, 1)
    flat_board.append(results[i]['steps'])
    if winning_move(board, 1):
        flat_board.append(1)
        flat_board.append(2)
        flat_board.append(False)
    elif winning_move(board, 2):
        flat_board.append(2)
        flat_board.append(1)
        flat_board.append(False)
    else:
        flat_board.append(None)
        flat_board.append(None)
        flat_board.append(True)
    df2 = pd.DataFrame(data=[flat_board], columns=columns)
    df = pd.concat([df, df2], ignore_index=True)
df

100%|███████████████████████████████████████████████████████████████████████████| 23357/23357 [01:04<00:00, 361.87it/s]

,1,2,3,4,5,6,7,8,9,10,...,37,38,39,40,41,42,board_series,winner,looser,is_stale
0,0,0,0,2,0,0,0,0,0,0,...,0,0,2,1,2,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",1,2,False
1,2,0,0,0,0,0,0,2,0,0,...,1,0,1,2,2,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",1,2,False
2,0,0,0,0,0,0,0,0,0,0,...,1,2,1,1,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
3,2,2,1,2,2,1,2,1,2,2,...,2,1,1,2,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",None,None,True
4,0,0,0,1,2,0,0,0,0,0,...,1,2,1,2,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23313,1,2,0,1,1,0,0,2,2,0,...,1,2,1,2,2,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",1,2,False
23314,1,0,2,1,0,0,0,2,0,1,...,1,1,1,2,2,0,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23315,0,0,0,0,0,0,0,0,0,0,...,2,2,2,1,1,0,"[[{'action': 0, 'info': {}, 'observation': {'b...",1,2,False
23316,1,2,1,1,0,0,2,2,2,1,...,1,2,1,1,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23317,0,0,1,2,2,1,0,0,2,1,...,1,2,1,2,1,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",1,2,False

In [11]:
df[df['winner'] == 2]

,1,2,3,4,5,6,7,8,9,10,...,37,38,39,40,41,42,board_series,winner,looser,is_stale
2,0,0,0,0,0,0,0,0,0,0,...,1,2,1,1,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
4,0,0,0,1,2,0,0,0,0,0,...,1,2,1,2,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
5,0,0,0,0,0,0,0,0,0,1,...,2,1,2,1,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
9,0,0,0,0,0,0,1,0,0,0,...,1,2,1,2,1,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
10,0,0,1,0,0,0,0,0,0,1,...,2,2,1,0,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23307,0,0,0,0,0,0,0,1,2,0,...,1,0,2,1,0,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23310,0,0,0,0,0,0,0,0,0,0,...,1,2,2,1,2,1,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23312,0,0,1,1,2,1,0,0,0,2,...,1,2,1,1,2,0,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23314,1,0,2,1,0,0,0,2,0,1,...,1,1,1,2,2,0,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False
23316,1,2,1,1,0,0,2,2,2,1,...,1,2,1,1,1,2,"[[{'action': 0, 'info': {}, 'observation': {'b...",2,1,False

In [12]:
#df.loc[2, 'board_series']

In [13]:
columns2 = [item for item in range(1, 43)]
columns2.append('target')

df_actions = pd.DataFrame(columns=columns2)
working_set = df[df['is_stale'] == False]

preload = []

for i in tqdm(working_set.index):
    series = working_set.loc[i, 'board_series'].copy()
    winning_player = working_set.loc[i, 'winner']
    if len(series) > 3:
        if winning_player == 1:
            for j in range(2, len(series), 2):
                if len(series) > j + 1:
                    flat_board = working_set.loc[i, 'board_series'][j][0]['observation']['board'].copy()
                    #print(len(flat_board))
                    seen = np.resize(working_set.loc[i, 'board_series'][j][0]['observation']['board'], (6,7))
                    action = np.resize(working_set.loc[i, 'board_series'][j + 1][0]['observation']['board'], (6,7))
                    result = action - seen
                    target = np.unravel_index(result.argmax(), result.shape)[1]
                    flat_board.append(target)
                    #print(flat_board)
                    preload.append(flat_board)
                    #df2 = pd.DataFrame(data=[flat_board], columns=columns2)
        elif winning_player == 2:
            for j in range(1, len(series), 2):
                if len(series) > j + 1:
                    flat_board = working_set.loc[i, 'board_series'][j][0]['observation']['board'].copy()
                    #print(len(flat_board))
                    seen = np.resize(working_set.loc[i, 'board_series'][j][0]['observation']['board'], (6,7))
                    action = np.resize(working_set.loc[i, 'board_series'][j + 1][0]['observation']['board'], (6,7))
                    result = action - seen
                    target = np.unravel_index(result.argmax(), result.shape)[1]
                    flat_board.append(target)
                    #print(flat_board)
                    preload.append(flat_board)
                    #df2 = pd.DataFrame(data=[flat_board], columns=columns2)

df_actions = pd.DataFrame(data=preload, columns=columns2)

df_actions

100%|██████████████████████████████████████████████████████████████████████████| 22038/22038 [00:07<00:00, 2973.35it/s]

,1,2,3,4,5,6,7,8,9,10,...,34,35,36,37,38,39,40,41,42,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,0,6
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,0,1,6
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,2,1,0,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,2,1,0,1,4
4,0,0,0,2,0,0,0,0,0,0,...,0,1,0,0,0,2,1,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256295,0,0,0,2,2,0,0,0,0,0,...,2,2,0,1,2,1,2,1,1,2
256296,0,0,0,2,2,0,0,0,0,0,...,2,2,0,1,2,1,2,1,1,2
256297,0,0,0,2,2,0,0,0,2,1,...,2,2,0,1,2,1,2,1,1,2
256298,0,0,1,2,2,0,0,0,2,1,...,2,2,0,1,2,1,2,1,1,5
256299,0,0,1,2,2,0,0,0,2,1,...,2,2,0,1,2,1,2,1,1,5

In [14]:
df_actions['tick'] = 1

In [15]:
columns2 = [item for item in range(1, 43)]
columns2.append('target')
df_actions_set_one = df_actions.groupby(columns2)['tick'].sum().sort_values(ascending=False).reset_index()
df_actions_set_one['tick_layer_two'] = 1
df_actions_set_one
#df_actions_set_one.groupby(columns2)['tick_layer_two'].sum().sort_values(ascending=False)

,1,2,3,4,5,6,7,8,9,10,...,36,37,38,39,40,41,42,target,tick,tick_layer_two
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3,1797,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3,1103,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3,847,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3,443,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,3,373,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168506,0,0,0,0,0,0,0,0,0,0,...,0,2,0,1,1,2,2,3,1,1
168507,0,0,0,0,0,0,0,0,0,0,...,1,2,0,1,2,1,2,3,1,1
168508,0,0,0,0,0,0,0,0,0,0,...,2,0,2,1,1,1,2,2,1,1
168509,0,0,0,0,0,0,0,0,0,0,...,0,2,0,1,2,1,2,3,1,1
168510,2,2,2,1,2,1,0,1,1,1,...,1,2,1,1,1,2,1,6,1,1

In [30]:
df_actions_set_two = df_actions_set_one.reset_index()
df_actions_set_two = df_actions_set_two.drop(columns=['index'])

columns3 = [item for item in range(1, 43)]

df_actions_set_two = df_actions_set_two.drop_duplicates(subset=columns3, keep="first").reset_index()
df_actions_set_two = df_actions_set_two.drop(columns=['index','tick', 'tick_layer_two'])
df_actions_set_two

,1,2,3,4,5,6,7,8,9,10,...,34,35,36,37,38,39,40,41,42,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155970,0,0,0,0,0,0,0,0,0,0,...,1,2,0,2,0,1,1,2,2,3
155971,0,0,0,0,0,0,0,0,0,0,...,0,2,1,2,0,1,2,1,2,3
155972,0,0,0,0,0,0,0,0,0,0,...,0,2,2,0,2,1,1,1,2,2
155973,0,0,0,0,0,0,0,0,0,0,...,0,1,0,2,0,1,2,1,2,3
155974,2,2,2,1,2,1,0,1,1,1,...,2,0,1,2,1,1,1,2,1,6

In [31]:
df_actions_set_two.to_csv('N:\\connectxactions\\actions.csv')

In [ ]:




seen = np.resize(df.loc[0, 'board_series'][2][0]['observation']['board'], (6,7))
action = np.resize(df.loc[0, 'board_series'][3][0]['observation']['board'], (6,7))
result = action - seen
target = np.unravel_index(result.argmax(), result.shape)[1]
print(target)

In [ ]:
JSON(obj)